<html xmlns:th="http://www.thymeleaf.org">
<style>
    .buttons_added {
        opacity: 1;
        display: inline-block;
        display: -ms-inline-flexbox;
        display: inline-flex;
        white-space: nowrap;
        vertical-align: top;
    }

    .is-form {
        overflow: hidden;
        position: relative;
        background-color: #f9f9f9;
        height: 2.2rem;
        width: 1.9rem;
        padding: 0;
        text-shadow: 1px 1px 1px #fff;
        border: 1px solid #ddd;
    }

    .is-form:focus, .input-text:focus {
        outline: none;
    }

    .is-form.minus {
        border-radius: 4px 0 0 4px;
    }

    .is-form.plus {
        border-radius: 0 4px 4px 0;
    }

    .input-qty {
        background-color: #fff;
        height: 2.2rem;
        text-align: center;
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
        padding: 0;
    }

    .input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="container-xl">
    <span hidden id="message">[(${message})]</span>
    <section class="row">
        <div class="col-lg-7 col-sm-12 mt-5 mb-5">
            <div class="card">
                <div class="card-body">
                    <div id="carouselExample" class="carousel slide"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div th:class="|carousel-item ${image.location==true?'active':''}|"
                                 th:each="image:${product.listImage}">
                                <div>
                                    <img th:src="@{'/image/product/'+${image?.link}}"
                                         alt="" class="d-block w-100">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button"
                           data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                              aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample"
                           role="button"
                           data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                              aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mt-5 mb-5">
            <form th:action="@{/product/detail/{id}(id=${product.id})}" method="post">
                <div class="product-detail-title">
                    <h2 th:text="${product.product.nameProduct +' '+product.product.sku}">
                    </h2>
                </div>
                <table class="table">
                    <tbody>
                    <tr th:if="${reduceMoney!=0}">
                        <td class="fs-5 text-strike-through"
                            th:text="|${#numbers.formatDecimal(product.priceExport,0,'COMMA',0,'POINT')} (VNĐ)|"></td>
                    </tr>
                    <tr th:if="${reduceMoney!=0}">
                        <td class="fs-4"
                            th:text="|${#numbers.formatDecimal(reduceMoney,0,'COMMA',0,'POINT')} (VNĐ)|"></td>
                    </tr>
                    <tr th:if="${reduceMoney==0}">
                        <td class="fs-4"
                            th:text="|${#numbers.formatDecimal(product.priceExport,0,'COMMA',0,'POINT')} (VNĐ)|"></td>
                    </tr>
                    <tr th:if="${product.active==true}">
                        <td class="fs-5" th:text="|Số lượng: ${product.quantity}|"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="mb-3">
                    <a th:class="|border border-2 p-2 mb-3 mx-2 text-black ${product.id==productAll.id ? 'bg-label-primary':''}|"
                       th:each="productAll:${productAll.productDetails}"
                       th:href="@{'/product/detail/'+${productAll.id}}" th:if="${productAll.active==true}">
                        <span th:each="field:${productAll.fieldList}" class="mx-2"><span
                                th:text="|${field.value}|"></span></span>
                    </a>
                </div>
                <div class="buttons_added mt-4 " th:id="${product.id}">
                    <input class="minus is-form" type="button"
                           value="-">
                    <input aria-label="quantity" class="input-qty" max="10" min="1"
                           name="qty"
                           type="number"
                           value="1">
                    <input class="plus is-form"
                           type="button" value="+">
                </div>
                <!--                <div class="col-lg-4 col-md-6">-->
                <div class="mt-3">
                    <!-- Button trigger modal -->
                    <button type="submit" class="btn btn-primary w-auto"
                            th:if="${product.quantity!=0 && product.active==true}">
                        Thêm vào giỏ hàng
                    </button>
                    <span class="fs-5 text-danger" th:if="${product.quantity==0 && product.active==true}">Sản phẩm hiện chưa có hàng</span>
                    <span class="fs-5 text-danger"
                          th:if="${product.active!=true}">Sản phẩm đang ngừng bán</span>

                    <!-- Modal -->
                    <!--                                        <div class="modal fade" id="basicModal" tabindex="-1" style="display: none;"-->
                    <!--                                             aria-hidden="true">-->
                    <!--                                            <div class="modal-dialog" role="document">-->
                    <!--                                                <div class="modal-content">-->
                    <!--                                                    <div class="modal-header"></div>-->
                    <!--                                                    <div class="modal-body text-center">-->
                    <!--                                                        <h3>Thêm sản phẩm vào giỏ hàng?</h3>-->
                    <!--                                                    </div>-->
                    <!--                                                    <div class="modal-footer text-center">-->
                    <!--                                                        <button type="submit" class="btn btn-primary text-center"-->
                    <!--                                                                autofocus>-->
                    <!--                                                            Xác nhận-->
                    <!--                                                        </button>-->
                    <!--                                                        <button type="button" class="btn btn-danger"-->
                    <!--                                                                data-bs-dismiss="modal">-->
                    <!--                                                            Hủy-->
                    <!--                                                        </button>-->
                    <!--                                                    </div>-->
                    <!--                                                </div>-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                </div>
            </form>
        </div>
        <hr>
        <div class="col-md-6">
            <h3 class="mb-3">
                Thông số kỹ thuật
                <!--                <span th:text="${product.product.nameProduct}"></span>-->
            </h3>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped" border="0px">
                    <!--                    <thead>-->
                    <!--                    <tr>-->
                    <!--                        <td>Thông số</td>-->
                    <!--                        <td>Giá trị</td>-->
                    <!--                    </tr>-->
                    <!--                    </thead>-->
                    <tbody class="table-border-bottom-0">
                    <tr th:each="item : ${product.product.productFieldValues}">
                        <td>[(${item.field.name})]:</td>
                        <td>[(${item.value})]</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card"><br>
                <div class="card-header">
                    <h3>
                        Đánh Giá <span th:text="${product.product.nameProduct}"></span>
                    </h3>
                </div>
                <div class="card-body">
                    <span class="fs-5" th:each="item: ${product.product.listEvaluate}">
                                        <strong th:text="${item.customer.name}"></strong>
                                        </span>
                    <p th:each="item: ${product.product.listEvaluate}">
                        <i class='bx bxs-star' style='color:#ffff00'></i>
                        <i class='bx bxs-star' style='color:#ffff00'></i>
                        <i class='bx bxs-star' style='color:#ffff00'></i>
                        <i class='bx bxs-star' style='color:#ffff00'></i>
                        <i class='bx bxs-star-half' style='color:#ffff00'></i>
                        <span th:text="${item.point}"></span>
                    </p>
                    <p th:each="item: ${product.product.listEvaluate}">
                        <span th:text="${item.comment}"></span> <br>
                        <small class="text-muted">
                            <span th:text="${item.dateCreate}"></span>
                        </small>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary w-50" data-bs-target="#writeEvaluate" data-bs-toggle="modal">Viết đánh giá</button>
                    <div class="modal fade" id="writeEvaluate" tabindex="-1" aria-modal="true" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="nameBasic" class="form-label">Name</label>
                                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="row g-2">
                                        <div class="col mb-0">
                                            <label for="emailBasic" class="form-label">Email</label>
                                            <input type="text" id="emailBasic" class="form-control" placeholder="xxxx@xxx.xx">
                                        </div>
                                        <div class="col mb-0">
                                            <label for="dobBasic" class="form-label">DOB</label>
                                            <input type="text" id="dobBasic" class="form-control" placeholder="DD / MM / YY">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    <section class="related spad mt-5">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-lg-12" style="text-align: center">-->
    <!--                    <h3 class="related-title">Related Product</h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <br>-->
    <!--            &lt;!&ndash;            <div class="row mb-5">&ndash;&gt;-->
    <!--            &lt;!&ndash;                <div class="col-md-6 col-lg-3 mb-5" th:each="pro:${listPro}">&ndash;&gt;-->
    <!--            &lt;!&ndash;                    <div class="card h-100">&ndash;&gt;-->
    <!--            &lt;!&ndash;                        <div class="card-body">&ndash;&gt;-->
    <!--            &lt;!&ndash;                            <div class="">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <br>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <span th:each="image:${pro.listImage}">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <img th:if="${image.location == true}"&ndash;&gt;-->
    <!--            &lt;!&ndash;                                         th:src="@{'/image/'+${image.link}}"&ndash;&gt;-->
    <!--            &lt;!&ndash;                                         alt="" width="100%">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                </span>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <span class="fs-5">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <p th:text="${pro.product.nameProduct}"></p>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                </span>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <span class="fs-5">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <p th:text="${pro.priceImport}"></p>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                </span>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <div class="product__color__select">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <label for="pc-1">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                        <input type="radio" >&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    </label>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <label class="active black" for="pc-2">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                        <input type="radio" >&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    </label>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <label class="grey" for="pc-3">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                        <input type="radio" >&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    </label>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <div class="rating">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class='bx bxs-star' style='color:#ffff00'></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class='bx bxs-star' style='color:#ffff00'></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class='bx bxs-star' style='color:#ffff00'></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class='bx bxs-star-half' style='color:#ffff00'></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class='bx bxs-star' undefined></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                            </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                            <br>&ndash;&gt;-->
    <!--            &lt;!&ndash;                            <a th:href="@{/cart/add/{id}(id=${product.id})}" class="btn btn-outline-primary">+ Add To&ndash;&gt;-->
    <!--            &lt;!&ndash;                                Cart</a>&ndash;&gt;-->
    <!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                <div class="col-md-6 col-lg-3">&ndash;&gt;-->
    <!--            &lt;!&ndash;                    <div class="card h-100">&ndash;&gt;-->
    <!--            &lt;!&ndash;                        <img class="card-img-top" src="../assets/img/elements/2.jpg" alt="Card image cap">&ndash;&gt;-->
    <!--            &lt;!&ndash;                        <div class="card-body">&ndash;&gt;-->
    <!--            &lt;!&ndash;                            <div class="product__item__text">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <span class="fs-5">Ti Vi Samsung</span>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <div class="rating">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <i class="fa fa-star-o"></i>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <span class="fs-5">$67.24</span>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                <div class="product__color__select">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <label for="pc-1">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                        <input type="radio" id="pc-1">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    </label>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <label class="active black" for="pc-2">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                        <input type="radio" id="pc-2">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    </label>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    <label class="grey" for="pc-3">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                        <input type="radio" id="pc-3">&ndash;&gt;-->
    <!--            &lt;!&ndash;                                    </label>&ndash;&gt;-->
    <!--            &lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                            </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                            <a href="javascript:void(0)" class="btn btn-outline-primary">+ Add To Cart</a>&ndash;&gt;-->
    <!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;                </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
    <!--        </div>-->
    <!--    </section>-->
</div>
<br>
</html>
<script>
    if (document.getElementById("message").textContent == 'true') {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "Thêm thành công"
        });
    }

    const plus = document.querySelectorAll(".plus")
    const minus = document.querySelectorAll(".minus")

    $(document).ready(
        $.each(plus, function (index, item) {
            // var temp = index
            item.addEventListener("click", function (e) {
                var quantityForm = document.querySelectorAll(".input-qty")
                const totalPriceForm = document.querySelectorAll(".total-price")
                const priceExportForm = document.querySelectorAll(".price-export")

                var valueInput = quantityForm[index].value

                if (valueInput < Number(quantityForm[index].getAttribute('max'))) {
                    quantityForm[index].value = Number(valueInput) + 1
                    valueInput = Number(valueInput) + 1
                }

                // var quantity = quantityForm[index].value
                var priceExport = priceExportForm[index].getAttribute("value")
                var totalPrice = Number(valueInput) * Number(priceExport)

                totalPriceForm[index].innerText = totalPrice

            })
        }),
        $.each(minus, function (index, item) {
            // var temp = index
            item.addEventListener("click", function (e) {

                const totalPriceForm = document.querySelectorAll(".total-price")
                const priceExportForm = document.querySelectorAll(".price-export")
                var quantityForm = document.querySelectorAll(".input-qty")

                var valueInput = quantityForm[index].value// = 10

                if (valueInput > Number(quantityForm[index].getAttribute('min'))) {
                    quantityForm[index].value = Number(valueInput) - 1
                    valueInput = Number(valueInput) - 1
                }

                var priceExport = priceExportForm[index].getAttribute("value")
                var totalPrice = Number(valueInput) * Number(priceExport)

                totalPriceForm[index].innerText = totalPrice
            })
        })
    )</script>