<html xmlns:th="http://www.thymeleaf.org">
<style>
    .buttons_added {
        opacity: 1;
        display: inline-block;
        display: -ms-inline-flexbox;
        display: inline-flex;
        white-space: nowrap;
        vertical-align: top;
    }

    .is-form {
        overflow: hidden;
        position: relative;
        background-color: #f9f9f9;
        height: 2.2rem;
        width: 1.9rem;
        padding: 0;
        text-shadow: 1px 1px 1px #fff;
        border: 1px solid #ddd;
    }

    .is-form:focus, .input-text:focus {
        outline: none;
    }

    .is-form.minus {
        border-radius: 4px 0 0 4px;
    }

    .is-form.plus {
        border-radius: 0 4px 4px 0;
    }

    .input-qty {
        background-color: #fff;
        height: 2.2rem;
        text-align: center;
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
        padding: 0;
    }

    .input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="content-wrapper">
                    <form th:action="@{/purchase}" method="post" th:object="${billProduct}">
                        <div class="row justify-content-center">
                            <div class="col-md-7 mb-5">
                                <div class="card mb-4">
                                    <span class="card-header text-uppercase fs-5">THÔNG TIN KHÁCH HÀNG:</span>
                                    <div class="card-body" th:id="add">
                                        <!--                                            ten, sdt-->
                                        <div class="row justify-content-between">
                                            <div class="col">
                                                <label class="form-label">Tên người nhận</label>
                                                <input class="form-control" type="text" placeholder="họ và tên" th:field="*{name}"
                                                       id="name" th:name="name">
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Số điện thoại người nhận</label>
                                                <input class="form-control" type="text" placeholder="VN (+84)" th:field="*{phoneNumber}"
                                                       id="phoneNumber" th:name="phoneNumber">
                                            </div>
                                        </div>
                                        <br>
                                        <!--                                                email-->
                                        <div class="mb-3">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" placeholder="oanhpham085@gmail.com" th:field="*{email}"
                                                   id="email" th:name="email">
                                        </div>
                                        <br>
                                        <!--                                                address-->
                                        <div class="mb-3">
                                            <label class="form-label">Địa chỉ nhận hàng</label>
                                            <input type="text" class="form-control" placeholder="Thôn liên trì 1, xã Yên hòa" th:field="*{address}"
                                                   id="address" th:name="address">
                                        </div>

                                        <div class="mb-3 table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá</th>
                                                    <th>Số lượng</th>
                                                    <th>Thành tiền</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="item:${session.list}">
                                                    <input th:value="${item.product.id}" name="id" hidden>
                                                    <td>
                                                        <div class="mb-3">
                                                            <img th:each="image:${item.product.listImage}"
                                                                 th:if="${image.location == true}"
                                                                 th:src="@{'/image/'+${image.link}}"
                                                                 alt="" width="100px">
                                                        </div>
                                                        <span th:text="${item.product.product.nameProduct}"></span>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span class="fs-5"><span class="price-export"
                                                                                     th:value="${item.product.priceExport}"
                                                                                     th:text="${item.product.priceExport}"></span>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="buttons_added" th:id="${item.product.id}">
                                                            <input class="minus is-form" type="button"
                                                                   value="-">
                                                            <input aria-label="quantity" class="input-qty" max="10"
                                                                   min="1"
                                                                   name="qty"
                                                                   type="number"
                                                                   th:value="${item.quantity}">
                                                            <input class="plus is-form plus"
                                                                   type="button" value="+">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="fs-5">
                                                             <span th:text="${item.product.priceExport * item.quantity}"
                                                                   class="total-price"></span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <hr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row justify-content-center">
                                            <span class="col fs-5">Tổng tiền: </span>
                                            <span class="col text-danger text-center">
                                                <span th:text="${total}" class="total-pro" name="totalPrice"></span>

                                            </span>
                                        </div>
                                        <hr>
                                        <span class="text-uppercase fs-5">Phương Thức Thanh Toán: </span>
                                        <div class="card-body">
                                            <div class="row gy-3">
                                                <div class="col-md">
                                                    <div class="form-check form-check-inline mt-3">
                                                        <input class="form-check-input" type="radio" th:field="*{paymentMethod}"
                                                               name="paymentMethod" id="inlineRadio1"
                                                               th:value="1" checked>
                                                        <label class="form-check-label" for="inlineRadio1">Thanh toán
                                                            tiền mặt</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"th:field="*{paymentMethod}"
                                                               name="paymentMethod" id="inlineRadio2"
                                                               th:value="2">
                                                        <label class="form-check-label" for="inlineRadio2">Thanh toán
                                                            trực tiếp qua
                                                            VNPAY</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-grid gap-2 col-lg-12 mx-auto mt-4"
                                             style="text-align: center">
                                            <button class="btn btn-primary btn-lg" type="submit"
                                                    onclick="return confirm('Xác nhận tạo hóa đơn')">
                                                Đặt Hàng
                                            </button>
                                            <button class="btn btn-outline-secondary btn-lg" type="button"
                                                    formaction="/cart">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const plus = document.querySelectorAll(".plus")
    const minus = document.querySelectorAll(".minus")

    function tinhtong() {
        const totalPriceForm = document.querySelectorAll(".total-price")
        const totalProForm = document.querySelector(".total-pro")
        var totalPro = 0;
        for (let i = 0; i < totalPriceForm.length; i++) {
            totalPro = Number(totalPriceForm[i].textContent) + Number(totalPro);
            console.log(totalPro);
        }
        totalProForm.value = totalPro
    }

    $(document).ready(
        tinhtong(),
        $.each(plus, function (index, item) {
            // var temp = index
            item.addEventListener("click", function (e) {
                var quantityForm = document.querySelectorAll(".input-qty")
                const totalPriceForm = document.querySelectorAll(".total-price")
                const priceExportForm = document.querySelectorAll(".price-export")

                var valueInput = quantityForm[index].value

                if (valueInput < Number(quantityForm[index].getAttribute('max'))) {
                    quantityForm[index].value = Number(valueInput) + 1
                    valueInput = Number(valueInput) + 1
                }

                // var quantity = quantityForm[index].value
                var priceExport = priceExportForm[index].getAttribute("value")
                var totalPrice = Number(valueInput) * Number(priceExport)

                totalPriceForm[index].innerText = totalPrice
                const totalProForm = document.querySelector(".total-pro")
                var totalPro = 0;
                for (let i = 0; i < totalPriceForm.length; i++) {
                    totalPro = Number(totalPriceForm[i].textContent) + Number(totalPro);
                }

                totalProForm.innerText = totalPro
            })
        }),
        $.each(minus, function (index, item) {
            // var temp = index
            item.addEventListener("click", function (e) {

                const totalPriceForm = document.querySelectorAll(".total-price")
                const priceExportForm = document.querySelectorAll(".price-export")
                var quantityForm = document.querySelectorAll(".input-qty")

                var valueInput = quantityForm[index].value// = 10

                if (valueInput > Number(quantityForm[index].getAttribute('min'))) {
                    quantityForm[index].value = Number(valueInput) - 1
                    valueInput = Number(valueInput) - 1
                }

                var priceExport = priceExportForm[index].getAttribute("value")
                var totalPrice = Number(valueInput) * Number(priceExport)

                totalPriceForm[index].innerText = totalPrice
                tinhtong();
            })
        })
    )


    function xoa(x) {
        var tr = x.parentElement.parentElement;
        tr.remove();
    }
</script>
</html>