<section>
<div class="kul4+s">
    <div class="AmWkJQ">
        <a class="_1O4r+C" href="/user/account/profile">
            <div class="shopee-avatar">
                <div class="shopee-avatar__placeholder">
                    <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"
                         class="shopee-svg-icon icon-headshot">
                        <g>
                            <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                            <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round"
                                  stroke-miterlimit="10"></path>
                        </g>
                    </svg>
                </div>
                <img class="shopee-avatar__img"
                     src="https://down-vn.img.susercontent.com/file/vn-11134233-7r98o-llai1ybfpi2w75_tn">
            </div>
        </a>
        <div class="miwGmI">
            <div class="mC1Llc">manh_220702</div>
            <div>
                <a class="_78QHr1" href="/user/account/profile" style="color: #888;">
                    <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
                         style="margin-right: 4px;">
                        <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48"
                              fill="#9B9B9B" fill-rule="evenodd"></path>
                    </svg>
                    Sửa hồ sơ
                </a>
            </div>
        </div>
    </div>
    <div class="rhmIbk">
        <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header">
                <a class="+1U02e" href="/user/account/profile">
                    <div class="bfikuD">
                        <img src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4"></div>
                    <div class="DlL0zX">
                        <span class="adF7Xs" style="color:black">Tài khoản của tôi</span>
                    </div>
                </a></div>
            <div class="stardust-dropdown__item-body">
                <div class="Yu7gVR"><a class="FEE-3D" href="/user/account/profile"><span
                        class="qyt-aY">Hồ sơ</span></a><a
                        class="FEE-3D" href="/user/account/payment"><span class="qyt-aY">Ngân hàng</span></a><a
                        class="FEE-3D" href="/user/account/address"><span class="qyt-aY">Địa chỉ</span></a><a
                        class="FEE-3D" href="/user/account/password"><span
                        class="qyt-aY">Đổi mật khẩu</span></a><a
                        class="FEE-3D" href="/user/setting/notification/"><span
                        class="qyt-aY">Cài đặt thông báo</span></a></div>
            </div>
        </div>
        <div class="stardust-dropdown stardust-dropdown--open">
            <div class="stardust-dropdown__item-header"><a class="+1U02e wkLUkx" href="/user/purchase">
                <div class="bfikuD"><img
                        src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078"></div>
                <div class="DlL0zX"><span class="adF7Xs">Đơn Mua</span></div>
            </a></div>
            <div class="stardust-dropdown__item-body stardust-dropdown__item-body--open" style="opacity: 1;">
                <div class="Yu7gVR"></div>
            </div>
        </div>
        <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="+1U02e" href="/user/notifications/order">
                <div class="bfikuD"><img
                        src="https://down-vn.img.susercontent.com/file/e10a43b53ec8605f4829da5618e0717c"></div>
                <div class="DlL0zX"><span class="adF7Xs">Thông báo</span></div>
            </a></div>
            <div class="stardust-dropdown__item-body">
                <div class="Yu7gVR"><a class="FEE-3D" href="/user/notifications/order"><span class="qyt-aY">Cập nhật đơn hàng</span></a><a
                        class="FEE-3D" href="/user/notifications/promotion"><span
                        class="qyt-aY">Khuyến mãi</span></a><a class="FEE-3D"
                                                               href="/user/notifications/wallet"><span
                        class="qyt-aY">Cập nhật Ví</span></a><a class="FEE-3D"
                                                                href="/user/notifications/shopee"><span
                        class="qyt-aY">Cập nhật Shopee</span></a></div>
            </div>
        </div>
        <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="+1U02e" href="/user/voucher-wallet">
                <div class="bfikuD"><img
                        src="https://down-vn.img.susercontent.com/file/84feaa363ce325071c0a66d3c9a88748"></div>
                <div class="DlL0zX"><span class="adF7Xs">Kho Voucher</span></div>
            </a></div>
            <div class="stardust-dropdown__item-body" style="opacity: 0;">
                <div class="Yu7gVR"></div>
            </div>
        </div>
        <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="+1U02e" href="/user/coin">
                <div class="bfikuD"><img
                        src="https://down-vn.img.susercontent.com/file/a0ef4bd8e16e481b4253bd0eb563f784"></div>
                <div class="DlL0zX"><span class="adF7Xs">Shopee Xu</span></div>
            </a></div>
            <div class="stardust-dropdown__item-body">
                <div class="Yu7gVR"></div>
            </div>
        </div>
    </div>
</div>
</section>