<nav
        class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar"
>
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input
                        type="text"
                        class="form-control border-0 shadow-none"
                        th:placeholder="|#{page.search}...|"
                        th:aria-label="|#{page.search}...|"
                />
            </div>
        </div>
        <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
                   data-bs-auto-close="outside">
                    <div class="avatar">
                        <img src="/image/download.jpg" alt class="w-px-30 h-auto rounded-circle"/>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="dropdown dropstart">
                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown">
                            <span class="align-middle" th:text="#{lang.language}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="?lang=vi">
                                    <span><img class="w-px-20" src="/image/vietnam.png"></span>
                                    <span class="align-middle" th:text="#{lang.vietnamese}"></span>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="?lang=en">
                                    <span><img class="w-px-20" src="/image/english.png"></span>
                                    <span class="align-middle" th:text="#{lang.english}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="/login">
                            <i class="bx bx-power-off me-2"></i>
                            <span class="align-middle" th:text="#{navbar.logOut}">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>