<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a th:href="@{/admin}" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">
                <img th:src="@{/image/logochuan-04.png}" type="icon" style="width: 150px">
            </span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1 " style="padding-bottom:100px !important;">
        <!-- Dashboard -->
        <li th:class="${#strings.equals(session.active,'/dashboard')?'menu-item active':'menu-item'}">
            <a th:href="@{/admin}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Bảng điều khiển</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase">
            <span>Quản lý</span>
        </li>

        <li th:class="${#strings.contains(session.active,'/product')?'menu-item active open':'menu-item'}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='menu-icon tf-icons bx bx-package'></i>
                <div>Sản phẩm</div>
            </a>
            <ul class="menu-sub">
                <li th:class="${#strings.equals(session.active,'/product/list-product')?'menu-item active':'menu-item'}">
                    <a th:href="@{/admin/product/list-product}" class="menu-link">
                        <div>Danh sách sản phẩm</div>
                    </a>
                </li>
<!--                <li th:class="${#strings.equals(session.active,'/product/add-product')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/product/add-product}" class="menu-link">-->
<!--                        <div>Add product</div>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </li>
<!--        <li th:class="${#strings.equals(session.active,'/staff')?'menu-item active':'menu-item'}">-->
<!--            <a th:href="@{/admin/staff}" class="menu-link">-->
<!--                <i class="menu-icon tf-icons bx bx-user-pin"></i>-->
<!--                <div>Nhân viên</div>-->
<!--            </a>-->
<!--        </li>-->
        <li th:class="${#strings.contains(session.active,'/bill')?'menu-item active open':'menu-item'}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-receipt"></i>
                <div>Hóa đơn</div>
            </a>
            <ul class="menu-sub">
                <li th:class="${#strings.equals(session.active,'/bill/list_bill')?'menu-item active':'menu-item'}">
                    <a th:href="@{/admin/bill/list_bill}" class="menu-link">
                        <div>Danh sách hóa đơn</div>
                    </a>
                </li>
<!--                <li th:class="${#strings.equals(session.active,'/bill/payment_method')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/bill/payment_method}" class="menu-link">-->
<!--                        <div th:text="#{sidebar.paymentMethod}"></div>-->
<!--                    </a>-->
<!--                </li>-->
                <li th:class="${#strings.equals(session.active,'/bill/list_invoice_return')?'menu-item active':'menu-item'}">
                    <a th:href="@{/admin/bill/list_invoice_return}" class="menu-link">
                        <div>Trả hàng</div>
                    </a>
                </li>
            </ul>
        </li>
        <li th:class="${#strings.contains(session.active,'customer')?'menu-item active open':'menu-item'}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div>Tài khoản</div>
            </a>
            <ul class="menu-sub">
<!--                <li th:class="${#strings.equals(session.active,'/customer/list')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/customer/list}" class="menu-link">-->
<!--                        <div>Danh sách tài khoản khách hàng</div>-->
<!--                    </a>-->
<!--                </li>-->
                <li th:class="${#strings.equals(session.active,'/staff')?'menu-item active':'menu-item'}">
                    <a th:href="@{/admin/staff}" class="menu-link">
                        <div >Danh sách tài khoản</div>
                    </a>
                </li>
            </ul>
        </li>
        <li th:class="${#strings.contains(session.active,'evaluate')?'menu-item active open':'menu-item'}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-comment-dots"></i>
                <div data-i18n="Customer">Đánh giá</div>
            </a>
            <ul class="menu-sub">
                <li th:class="${#strings.equals(session.active,'/evaluate/list')?'menu-item active':'menu-item'}">
                    <a th:href="@{/admin/evaluate/list}" class="menu-link">
                        <div data-i18n="list customer">Danh sách đánh giá</div>
                    </a>
                </li>
            </ul>
        </li>
        <li th:class="${#strings.contains(session.active,'voucher')?'menu-item active open':'menu-item'}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-coupon"></i>
                <div >Khuyến mãi</div>
            </a>
            <ul class="menu-sub">
                <li th:class="${#strings.equals(session.active,'/voucher/list')?'menu-item active':'menu-item'}">
                    <a th:href="@{/admin/voucher/list}" class="menu-link">
                        <div th:text="#{sidebar.listVoucher}">Voucher</div>
                    </a>
                </li>
                <li th:class="${#strings.equals(session.active,'/voucherCustomer')?'menu-item active':'menu-item'}">
                    <a th:href="@{/admin/voucherCustomer}" class="menu-link">
                        <div th:text="#{sidebar.listVoucherCustomer}">List voucher customer</div>
                    </a>
                </li>
            </ul>
        </li>
<!--        <li th:class="${#strings.contains(session.active,'technical')?'menu-item active open':'menu-item'}">-->
<!--            <a href="javascript:void(0);" class="menu-link menu-toggle">-->
<!--                <i class="menu-icon tf-icons bx bx-user-circle"></i>-->
<!--                <div data-i18n="Technical">Technical</div>-->
<!--            </a>-->
<!--            <ul class="menu-sub">-->
<!--                <li th:class="${#strings.equals(session.active,'/technical/color')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/technical/color}" class="menu-link">-->
<!--                        <div data-i18n="list color">Color</div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:class="${#strings.equals(session.active,'/size')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/technical/size}" class="menu-link">-->
<!--                        <div data-i18n="list size">Size</div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:class="${#strings.equals(session.active,'/brand')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/technical/brand}" class="menu-link">-->
<!--                        <div data-i18n="list brand">Brand</div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:class="${#strings.equals(session.active,'/resolution')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/technical/resolution}" class="menu-link">-->
<!--                        <div data-i18n="list resolution">Resolution</div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:class="${#strings.equals(session.active,'/manufacture')?'menu-item active':'menu-item'}">-->
<!--                    <a th:href="@{/admin/technical/manufacture}" class="menu-link">-->
<!--                        <div data-i18n="list manufacture">Manufacture</div>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
        <li class="menu-header small text-uppercase">
            <span>Other</span>
        </li>
<!--        <li class="menu-item">-->
<!--            <a href="javascript:void(0);" class="menu-link menu-toggle">-->
<!--                <i class='menu-icon tf-icons bx bx-globe'></i>-->
<!--                <div th:text="#{lang.language}"></div>-->
<!--            </a>-->
<!--            <ul class="menu-sub">-->
<!--                <li class="menu-item">-->
<!--                    <a class="menu-link" href="?lang=vi">-->
<!--                        <span><img class="w-px-20" src="/image/vietnam.png"></span>-->
<!--                        <span class="align-middle" th:text="#{lang.vietnamese}"></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="menu-item">-->
<!--                    <a class="menu-link" href="?lang=en">-->
<!--                        <span><img class="w-px-20" src="/image/english.png"></span>-->
<!--                        <span class="align-middle" th:text="#{lang.english}"></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
        <li class="menu-item">
            <a class="menu-link" th:href="@{/login}">
                <i class="menu-icon tf-icons bx bx-power-off me-2"></i>
                <span class="align-middle">Đăng xuất</span>
            </a>
        </li>
    </ul>
</aside>
