
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Hệ thống cửa hàng điện tử...</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a style="color: #fff" href="/login">Đăng nhập</a>
                            <a style="color: #fff"x` href="/register">Đăng ký</a>
                        </div>
                        <div class="header__top__hover">
                            <span>Ngôn Ngữ</span>
                            <ul>
                                <li>Tiếng Việt</li>
                                <li>Tiếng Anh</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img th:src="@{/image/logochuan-04.png}" alt="" style="width: 250px"></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Trang chủ</a></li>
                        <li><a href="/shop">Trang sản phẩm</a></li>
                        <li><a href="/promotion">CTKM</a></li>
                        <li><a href="#">Thông tin</a>
                            <ul class="dropdown">
                                <li><a href="/about">Trang giới thiệu</a></li>
                                <li><a href="/registercard">Thẻ thành viên</a></li>
                                <li><a href="#">Các chính sách</a></li>
                                <li><a href="#">Tuyển dụng</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Thao tác</a>
                            <ul class="dropdown">

                                <li><a href="/lookuporder">Tra cứu hóa đơn</a></li>
                                <li><a href="/completed">Hoàn thành</a></li>
                                <li><a href="/processing">Chờ thanh toán</a></li>
                                <li><a href="/return">Trả hàng</a></li>
                                <li><a href="/shopping-detail">Chi tiết sản phẩm</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="/user/img/icon/search.png" alt=""></a>
                    <a href="#"><img src="/user/img/icon/heart.png" alt=""></a>
                    <a href="/shoppingcart"><img src="/user/img/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price">0</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
