<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="about" id="about">
    <h1 class="heading"><span> about </span> us</h1>
    <div class="row">
        <div class="video-container">
            <video src="https://images.samsung.com/is/content/samsung/assets/vn/tvs/smart-tv/smart-hub-and-apps/images/2022-smart-tv-smart-hub-and-apps-03-smart-hub-02-pc.mp4" loop autoplay muted></video>
<!--            <h3>best flower sellers</h3>-->
        </div>

        <div class="content">
            <h3>Why chose us?</h3>
            <p>
                OLED viết tắt của Organic Light-Emitting Diode tức là các diode hữu
                cơ phát quang.
            </p>
            <p>
                Tivi NanoCell Đây là dòng tivi NanoCell cao cấp đến từ LG có góc
                nhìn rộng hơn, màu sắc đẹp hơn so với tivi LED thông thường.
            </p>
            <a href="#" class="btn">learn more</a>
        </div>
    </div>
</section>
</body>
</html>