<div class="mb-4">
    <form th:action="@{/admin/voucher/update/{id}(id=*{id})}" method="post" th:object="${voucher}">
        <div>
            <div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin voucher</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="row col-lg-12 col-xl-9">
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code:</label>
                                        <input type="text" class="form-control" th:field="*{code}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Name Voucher:</label>
                                        <input  type="text" class="form-control" th:field="*{nameVoucher}">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Value</label>
                                        <input type="text" class="form-control" th:field="*{value}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Active:</label>
                                        <br>
                                        <div class="form-check form-check-inline mt-3">
                                            <input class="form-check-input" type="radio" th:field="*{active}"
                                                   id="inlineRadio1"
                                                   th:value="true">
                                            <label class="form-check-label" for="inlineRadio1">Acitve</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{active}"
                                                   id="inlineRadio2"
                                                   th:value="false">
                                            <label class="form-check-label" for="inlineRadio2">Non-active</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"> Reduced Form</label>
                                        <input class="form-control" type="text" th:field="*{reducedForm}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Minimum Value</label>
                                        <input class="form-control" type="text" th:field="*{minimumValue}">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Maximum Discount:</label>
                                        <input type="text" class="form-control" th:field="*{maximumDiscount}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Start Day:</label>
                                        <input type="date" class="form-control" th:field="*{startDay}">
                                    </div>

                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Quantity:</label>
                                        <input type="text" class="form-control" th:field="*{quantity}"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Expiration Date:</label>
                                        <input type="date" class="form-control" th:field="*{expirationDate}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-secondary" onclick="window.location.href='admin/layout'" >Back</button>
                        <button type="submit" class="btn btn-primary">Update changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>