<div class="mb-4">
    <div class="mb-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">
            Thêm Voucher
        </button>
    </div>
    <form th:action="@{/admin/technical/color/add}" method="post"    enctype="multipart/form-data">
        <div class="modal fade" th:id="largeModal" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">màu sắc</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="row col-lg-8 col-xl-9">

                                <div class="col-sm-4">
                                    <label class="form-label">code:</label>
                                    <input type="text" class="form-control" th:name="code">
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">ID:</label>
                                    <input type="text" class="form-control" th:name="nameColor">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Reset</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
            <tr>
                <!--                    <th>#</th>-->
                <th>ID</th>
                <th>CODE</th>
                <th>NAME</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr th:each="color: ${listColor}">
                <!--                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>1</strong></td>-->
                <td th:text="${color.id}"></td>
                <td th:text="${color.code}"></td>
                <td th:text="${color.nameColor}"></td>

                <td>
                    <button type="button" class="btn btn-icon btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="|#modal${color.id}|">
                        <i class="bx bxs-edit-alt"></i>
                    </button>

                    <div class="modal fade" th:id="|modal${color.id}|" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">mau sac</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/admin/technical/color/update/{id}(id=${color.id})}"
                                          method="post" th:object="${color}" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="row col-lg-8 col-xl-9">

                                                <div class="col-sm-4">
                                                    <label class="form-label">Mau sac</label>
                                                    <input type="text" class="form-control" th:name="id"
                                                           th:value="${color.id}">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="form-label">Mã MS:</label>
                                                    <input type="text" class="form-control" th:name="code"
                                                           th:value="${color.code}">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label">Màu sắc:</label>
                                                <input type="text" class="form-control" th:name="namecolor"
                                                       th:value="${color.nameColor}">
                                            </div>

                                        </div>

                                        <br>
                                        <div class="row justify-content-xl-end">
                                            <!--                                        <div class="w-auto">-->
                                            <!--                                            <button type="reset"-->
                                            <!--                                                    class="btn btn-primary btn-control">-->
                                            <!--                                                Reset-->
                                            <!--                                            </button>-->
                                            <!--                                        </div>-->
                                            <div class="w-auto">
                                                <button type="submit"
                                                        class="btn btn-primary btn-control"
                                                        onclick="return confirm('Xác nhận cập nhật')">
                                                    Update
                                                </button>
                                            </div>
                                            <div class="w-auto">
                                                <a th:href="@{/admin/technical/color/delete/{id}(id=${color.id})}"
                                                   onclick="return confirm('Xác nhận xóa')">
                                                    <button type="button"
                                                            class="btn btn-primary btn-control">
                                                        Delete
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/admin/technical/color/delete/{id}(id=*{color.id})}"
                       onclick="return confirm('Xác nhận xóa')">
                        <button type="button" class="btn btn-icon btn-danger">
                            <span class="bx bxs-trash"></span>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>