<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Breeze Admin</title>
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css}"/>
    <!-- select 2-->
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
    <!--end select 2-->
    <link rel="stylesheet" th:href="@{/admin/assets/css/style.css}"/>
    <link rel="shortcut icon" th:href="@{/admin/assets/images/favicon.png}"/>
    <!--plugin css-->
    <link rel="stylesheet" th:href="@{/admin/assets/css/plugin.css}"/>
</head>
<body>
<div class="container-scroller">

    <nav th:replace="~{/admin/layout/_sidebar.html}">
    </nav>
    <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                <div class="img-ss rounded-circle bg-light border mr-3"></div>
                Default
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
                <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
                <div class="tiles light"></div>
                <div class="tiles dark"></div>
            </div>
        </div>
        <nav th:replace="~{/admin/layout/_navbar.html}">
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div th:replace="~{${session.pageView}}"></div>
                <button id="scrollToTopBtn"><i class="mdi mdi-arrow-up-bold"></i></button>
            </div>
            <footer class="footer">
                <div th:replace="~{/admin/layout/_footer.html}"></div>
            </footer>
        </div>
    </div>
</div>

<script th:src="@{/admin/assets/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/admin/assets/vendors/select2/select2.min.js}"></script>
<script  th:src="@{/admin/assets/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
<!-- Plugin js for this page -->
<script th:src="@{/admin/assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/admin/assets/js/off-canvas.js}"></script>
<script th:src="@{/admin/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/admin/assets/js/misc.js}"></script>
<script th:src="@{/admin/assets/js/select2.js}"></script>
<!-- endinject -->

<!-- Custom js for this page -->
<script th:src="@{/admin/assets/js/plugin.js}"></script>
<!-- End custom js for this page -->
</body>
</html>