<h4 class="fw-semibold py-3 mb-4"> Danh sách khách hàng </h4>

<div class="mb-4">
    <div class="mb-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">
            Thêm Voucher
        </button>
    </div>
    <form th:action="@{/admin/customer/save}" method="post" th:object="${customer}" enctype="multipart/form-data">
        <div class="modal fade" th:id="largeModal" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin khách hàng</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xl-3">
                                <img th:src="@{'/image/'+*{avatar}}" alt="user-avatar" class="d-block rounded"
                                     height="100" width="100" id="uploadedAvatar">
                                <br> <br>
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" class="account-file-input" hidden=""
                                           accept="image/png, image/jpeg"
                                           name="image"
                                    >
                                </label>
                            </div>
                            <div class="row col-lg-8 col-xl-9">
                                <div class="col-sm-4">
                                    <label class="form-label">Họ tên:</label>
                                    <input type="text" class="form-control" th:name="name">
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Địa chỉ:</label>
                                    <textarea style="height: 12px" type="text" class="form-control"
                                              th:name="address"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control" th:name="phoneNumber">
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Giới tính:</label>
                                    <br>
                                    <div class="form-check form-check-inline mt-3">
                                        <input class="form-check-input" type="radio" th:name="gender"
                                               id="inlineRadio1"
                                               th:value="true">
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" th:name="gender"
                                               id="inlineRadio2"
                                               th:value="false">
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Ngày sinh</label>
                                    <input class="form-control" type="date" th:name="birthday">
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" type="email" th:name="email">
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Id Card:</label>
                                    <input type="text" class="form-control" th:name="idCard"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Reset</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="card mb-3 ">
    <div class="card-header">
        <form class="col-12 mt-2">
            <div class="col-12 row">
                <div class="col-7">
                    <div class="form-check input-group input-group-merge">
                    <span class="input-group-text">
                        <i class="bx bx-search"></i>
                    </span>
                        <input type="text" class="form-control" placeholder="Tìm tên, sđt">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-warning" data-bs-toggle="tooltip" data-bs-offset="0,4"
                            data-bs-placement="bottom" data-bs-html="true" title=""
                            data-bs-original-title="<span>Reset filter</span>" aria-describedby="tooltip91262">
                        <i class='bx bx-reset'></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 d-flex align-items-center">
                <p>Customer :
                    <!--                    <span th:text="${#lists.size(listCus)}"></span>-->
                </p>
            </div>
            <div class="col-md-10 text-end">
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-secondary">Excel
                    </button>
                    <button type="button" class="btn btn-outline-secondary">PDF
                    </button>
                    <button type="button" class="btn btn-outline-secondary">In</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!--                    <th>#</th>-->
                    <th>Tên</th>
                    <th>Năm sinh</th>
                    <th>Địa Chỉ</th>
                    <th>SĐT</th>
                    <th>Email</th>
                    <th>Giới tính</th>
                    <th>Avatar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr th:each="customer : ${listCus}">
                    <!--                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>1</strong></td>-->
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.birthday}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td th:text="${customer.email}"></td>
                    <td>
                        <span th:if="${customer.gender} == true" th:text="Male"/>
                        <span th:if="${customer.gender} == false" th:text="Female"/>
                    </td>
                    <td><p>
                        <img th:src="@{'/image/'+*{customer.avatar}}"
                             style="height: 80px; width: 80px"/>
                    </p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-icon btn-primary" data-bs-toggle="modal"
                                th:data-bs-target="|#modal${customer.id}|">
                            <i class="bx bxs-edit-alt"></i>
                        </button>

                        <div class="modal fade" th:id="|modal${customer.id}|" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Thông tin khách hàng</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/customer/update/{id}(id=${customer.id})}"
                                              method="post" th:object="${customer}" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-12 col-sm-12 col-xl-3">
                                                    <img th:src="@{'/image/'+*{avatar}}" alt="user-avatar"
                                                         class="d-block rounded" height="100" width="100"
                                                         id="uploadedAvatar">
                                                    <br> <br>
                                                    <label th:for="upload2" tabindex="0">
                                                        <span class="d-none d-sm-block" style="padding-left: 10px">Upload new photo</span>
                                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                                        <input type="file" th:id="upload2" class="account-file-input"
                                                               accept="image/png, image/jpeg" name="image"
                                                               th:name="avatar">
                                                    </label>
                                                </div>
                                                <div class="row col-lg-8 col-xl-9">

                                                    <div class="col-sm-4">
                                                        <label class="form-label">Họ tên:</label>
                                                        <input type="text" class="form-control" th:name="name"
                                                               th:value="${customer.name}">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Địa chỉ:</label>
                                                        <textarea style="height: 12px" type="text" class="form-control"
                                                                  th:name="address" th:text="${customer.address}"

                                                        ></textarea>
                                                    </div>


                                                    <div class="col-sm-4">
                                                        <label class="form-label">Số điện thoại</label>
                                                        <input type="text" class="form-control"
                                                               th:name="phoneNumber"
                                                               th:value="${customer.phoneNumber}">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Giới tính:</label>
                                                        <br>
                                                        <div class="form-check form-check-inline mt-3">
                                                            <input class="form-check-input" type="radio"
                                                                   th:id="|active${customer.id}|"
                                                                   th:name="gender"
                                                                   th:value="true"
                                                                   th:checked="${customer.gender==true}">
                                                            <label class="form-check-label"
                                                                   th:for="|active${customer.id}|">Male</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                   th:id="|active${customer.id}|"
                                                                   th:name="gender"
                                                                   th:value="false"
                                                                   th:checked="${customer.gender==false}">
                                                            <label class="form-check-label"
                                                                   th:for="|active${customer.id}|">Female</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label class="form-label">Ngày sinh</label>
                                                        <input class="form-control" type="date" th:name="birthday"
                                                               th:value="${customer.birthday}">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Email</label>
                                                        <input class="form-control" type="email" th:name="email"
                                                               th:value="${customer.email}">
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label class="form-label">Id Card:</label>
                                                        <input type="text" class="form-control" th:name="idCard"
                                                               th:value="${customer.idCard}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row justify-content-xl-end">
                                                <div class="w-auto">
                                                    <button type="reset"
                                                            class="btn btn-primary btn-control">
                                                        Reset
                                                    </button>
                                                </div>
                                                <div class="w-auto">
                                                    <button type="submit"
                                                            class="btn btn-primary btn-control"
                                                            onclick="return confirm('Xác nhận cập nhật')">
                                                        Update
                                                    </button>
                                                </div>
                                                <div class="w-auto">
                                                    <a th:href="@{/admin/customer/delete/{id}(id=${customer.id})}"
                                                       onclick="return confirm('Xác nhận xóa')">
                                                        <button type="button"
                                                                class="btn btn-primary btn-control">
                                                            Delete
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a th:href="@{/admin/customer/delete/{id}(id=*{customer.id})}"
                           onclick="return confirm('Xác nhận xóa')">
                            <button type="button" class="btn btn-icon btn-danger">
                                <span class="bx bxs-trash"></span>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="card-separator">
    </div>
    <div class="card-footer">
        <div class="d-inline-flex float-end">
            <div class="mx-3 row" style="width: 180px">
                <label for="select-view" class="col-form-label col-5 text-end">View:</label>
                <div class="col-7">
                    <select class="form-select text-start" id="select-view">
                        <option>10</option>
                        <option>20</option>
                        <option>40</option>
                        <option>80</option>
                    </select>
                </div>
            </div>
            <div aria-label="Page pagination">
                <ul class="pagination">
                    <li class="page-item first">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
                    </li>
                    <li class="page-item prev">
                        <a class="page-link" href="javascript:void(0);"><i
                                class="tf-icon bx bx-chevron-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">2</a>
                    </li>
                    <li class="page-item next">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                    </li>
                    <li class="page-item last">
                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>