<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Sản phẩm/</span> Danh sách sản phẩm
</h4>
<div class="mb-3">
    <a type="button" class="btn btn-secondary" href="/admin/product/add-product">Thêm sản phẩm</a>
</div>
<div class="card">
    <div class="card-body">
        <table class="table" id="table-all-product">
            <thead>
            <tr class="fw-semibold">
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Sku</th>
                <th>Điểm trung bình</th>
                <th>Mã tương tự</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,productStat:${listProductDetail}">
                <td th:text="${productStat.index+1}"></td>
                <td th:text="${product.nameProduct}"></td>
                <td th:text="${product.sku}"></td>
                <td th:text="${product.avgPoint}"></td>
                <td th:text="${product.same}"></td>
                <td class="form-switch text-center"><input class="form-check-input" type="checkbox" th:checked="${product.active}"></td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/admin/plugin/js/list-product.js"></script>