<style>
    .buttons_added {
        opacity: 1;
        display: inline-block;
        display: -ms-inline-flexbox;
        display: inline-flex;
        white-space: nowrap;
        vertical-align: top;
    }

    .is-form {
        overflow: hidden;
        position: relative;
        background-color: #f9f9f9;
        height: 2.2rem;
        width: 1.9rem;
        padding: 0;
        text-shadow: 1px 1px 1px #fff;
        border: 1px solid #ddd;
    }

    .is-form:focus, .input-text:focus {
        outline: none;
    }

    .is-form.minus {
        border-radius: 4px 0 0 4px;
    }

    .is-form.plus {
        border-radius: 0 4px 4px 0;
    }

    .input-qty {
        background-color: #fff;
        height: 2.2rem;
        text-align: center;
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
        padding: 0;
    }

    .input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="container">
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="content-wrapper">
                        <div class="container-xxl flex-grow-1 container-p-y">
                            <div class="col-md-9">
                                <div class="card mb-4">
                                    <div class="col-lg-12">
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item:${session.list}">
                                                <form th:action="@{/cart/update/{id}(id=${item.product.id})}"
                                                      method="post">
                                                    <td>
                                                        <div th:each="image:${item.product.listImage}">
                                                            <div th:if="${image.location == true}">
                                                                <img th:src="@{'/user/img/shopping-cart/'+image.nameImage}"
                                                                     alt="">
                                                            </div>
                                                            <span th:text="${item.product.name + ' '+item.product.code}"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <h5>$<span id="price-export"
                                                                       th:value="${item.product.price_export}"
                                                                       th:text="${item.product.price_export}"></span>
                                                            </h5>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="buttons_added">
                                                            <input class="minus is-form" type="button" value="-">
                                                            <input aria-label="quantity" class="input-qty" max="10"
                                                                   min="1"
                                                                   name="quantity"
                                                                   type="number"
                                                                   id="quantity"
                                                                   th:value="${item.quantity}">
                                                            <input class="plus is-form"
                                                                   type="button" value="+" id="plus">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span th:text="${item.product.price_export * item.quantity}"
                                                              id="total-price"></span>

                                                    </td>
                                                </form>
                                            </tr>
                                            <hr>
                                            <!--                                    <tr>-->
                                            <!--                                        <td class="product__cart__item">-->
                                            <!--                                            <div class="product__cart__item__pic">-->
                                            <!--                                                <img src="/user/img/shopping-cart/cart-2.jpg" alt="">-->
                                            <!--                                            </div>-->
                                            <!--                                            <div class="product__cart__item__text">-->
                                            <!--                                                <h6>Diagonal Textured Cap</h6>-->
                                            <!--                                                <h5>$98.49</h5>-->
                                            <!--                                            </div>-->
                                            <!--                                        </td>-->
                                            <!--                                        <td></td>-->
                                            <!--                                        <td>-->
                                            <!--                                            <div class="buttons_added">-->
                                            <!--                                                <input class="minus is-form" type="button" value="-">-->
                                            <!--                                                <input aria-label="quantity" class="input-qty" max="10" min="1"-->
                                            <!--                                                       name=""-->
                                            <!--                                                       type="number" value="1">-->
                                            <!--                                                <input class="plus is-form"-->
                                            <!--                                                       type="button" value="+">-->
                                            <!--                                            </div>-->
                                            <!--                                        </td>-->
                                            <!--                                        <td class="cart__price">$ 32.50</td>-->
                                            <!--                                        <td class="cart__close"><i class="fa fa-close"></i></td>-->
                                            <!--                                    </tr>-->
                                            <!--                                    <tr>-->
                                            <!--                                        <td class="product__cart__item">-->
                                            <!--                                            <div class="product__cart__item__pic">-->
                                            <!--                                                <img src="/user/img/shopping-cart/cart-3.jpg" alt="">-->
                                            <!--                                            </div>-->
                                            <!--                                            <div class="product__cart__item__text">-->
                                            <!--                                                <h6>Basic Flowing Scarf</h6>-->
                                            <!--                                                <h5>$98.49</h5>-->
                                            <!--                                            </div>-->
                                            <!--                                        </td>-->
                                            <!--                                        <td></td>-->
                                            <!--                                        <td>-->
                                            <!--                                            <div class="buttons_added">-->
                                            <!--                                                <input class="minus is-form" type="button" value="-">-->
                                            <!--                                                <input aria-label="quantity" class="input-qty" max="10" min="1"-->
                                            <!--                                                       name=""-->
                                            <!--                                                       type="number" value="1">-->
                                            <!--                                                <input class="plus is-form"-->
                                            <!--                                                       type="button" value="+">-->
                                            <!--                                            </div>-->
                                            <!--                                        </td>-->
                                            <!--                                        <td class="cart__price">$ 47.00</td>-->
                                            <!--                                        <td class="cart__close"><i class="fa fa-close"></i></td>-->
                                            <!--                                    </tr>-->
                                            <!--                                    <tr>-->
                                            <!--                                        <td class="product__cart__item">-->
                                            <!--                                            <div class="product__cart__item__pic">-->
                                            <!--                                                <img src="/user/img/shopping-cart/cart-4.jpg" alt="">-->
                                            <!--                                            </div>-->
                                            <!--                                            <div class="product__cart__item__text">-->
                                            <!--                                                <h6>Basic Flowing Scarf</h6>-->
                                            <!--                                                <h5>$98.49</h5>-->
                                            <!--                                            </div>-->
                                            <!--                                        </td>-->
                                            <!--                                        <td></td>-->
                                            <!--                                        <td>-->
                                            <!--                                            <div class="buttons_added">-->
                                            <!--                                                <input class="minus is-form" type="button" value="-">-->
                                            <!--                                                <input aria-label="quantity" class="input-qty" max="10" min="1"-->
                                            <!--                                                       name=""-->
                                            <!--                                                       type="number" value="1">-->
                                            <!--                                                <input class="plus is-form"-->
                                            <!--                                                       type="button" value="+">-->
                                            <!--                                            </div>-->
                                            <!--                                        </td>-->
                                            <!--                                        <td class="cart__price">$ 30.00</td>-->
                                            <!--                                        <td class="cart__close"><i class="fa fa-close"></i></td>-->
                                            <!--                                    </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <h5 class="card-header">THÔNG TIN KHÁCH HÀNG</h5>
                                    <!-- Account -->
                                    <form action="/admin/staff/add" method="POST">
                                        <div class="card-body">
                                            <!--                                            ten, sdt-->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="form-label">Họ và Tên</label>
                                                    <input class="form-control" type="text" placeholder="họ và tên"
                                                           id="name" name="name" value="">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label">Số Điện Thoại</label>
                                                    <input class="form-control" type="text" placeholder="VN (+84)
" id="code" name="code" value="">

                                                </div>
                                            </div>
                                            <br>
                                            <!--                                            Phuong thuc thanh toan-->
                                            <h5>Phương Thức Thanh Toán: </h5>
                                            <div class="row g-5">
                                                <div class="col-lg-12">
                                                    <div class="demo-inline-spacing mt-3">
                                                        <div class="list-group list-group-horizontal-md text-md-center">
                                                            <a class="list-group-item list-group-item-action active"
                                                               id="home-list-item" data-bs-toggle="list"
                                                               href="#horizontal-home">Thanh toán tiền mặt</a>
                                                            <a class="list-group-item list-group-item-action"
                                                               id="profile-list-item" data-bs-toggle="list"
                                                               href="#horizontal-profile">Thanh toán trực tiếp qua
                                                                VNPAY</a>
                                                        </div>
                                                        <div class="tab-content px-0 mt-0">
                                                            <div class="tab-pane fade active show" id="horizontal-home">
                                                                <span>Thanh toán trực tiếp bằng tiền mặt khi nhận hàng.</span>
                                                                <br>
                                                                <span>
                                                                    Phí thu hộ: ₫0 VNĐ. Ưu đãi về phí vận chuyển (nếu có) áp dụng cả với phí thu hộ.
                                                                </span>
                                                            </div>
                                                            <div class="tab-pane fade" id="horizontal-profile">
                                                                <div class="row">
                                                                    <div class="col-md-6 col-12">
                                                                        <div class="card shadow-none bg-transparent border border-primary mb-3">
                                                                            <div class="card-body">
                                                                                <h5 class="card-title">Thông tin đơn
                                                                                    hàng</h5>
                                                                                <hr>
                                                                                <small class="text-muted">
                                                                                    <span>Số tiền thanh toán</span>
                                                                                </small>
                                                                                <h5 style="color: cornflowerblue">
                                                                                    10.990.000VND</h5>
                                                                                <!--                                                                                <br>-->
                                                                                <small class="text-muted">
                                                                                    <span>Giá trị đơn hàng</span>
                                                                                </small>
                                                                                <h6 style="color: black">
                                                                                    0VND
                                                                                </h6>
                                                                                <br>
                                                                                <small class="text-muted">
                                                                                    <span>Mã đơn hàng</span>
                                                                                </small>
                                                                                <h6 style="color: black">
                                                                                    HD32H4J2B4VJ432JBN
                                                                                </h6>
                                                                                <br>
                                                                                <small class="text-muted">
                                                                                    <span>Nhà cung cấp</span>
                                                                                </small>
                                                                                <h6 style="color: black">
                                                                                    CÔNG TY CỔ PHẦN THẾ GIỚI DI ĐỘNG
                                                                                </h6>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-12">
                                                                        <div class="card shadow-none bg-transparent border border-secondary mb-3">
                                                                            <div class="card-body">
                                                                                <div class="container">
                                                                                    <h5 class="card-title">Quét mã qua
                                                                                        ứng
                                                                                        dung ngân hàng/ Ví điện tử</h5>
                                                                                    <img src="/image/qr.jpg"
                                                                                         width="100%">
                                                                                    <br> <br>
                                                                                    <div class="row justify-content-end"
                                                                                         style="text-align: center">
                                                                                        <button type="button"
                                                                                                class="btn btn-outline-success">
                                                                                            Hủy thanh toán
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <!--                                                address-->
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="form-label">Address</label>
                                                        <input type="text" class="form-control" placeholder="Address"
                                                               id="address" name="address" value="">
                                                    </div>
                                                </div>
                                                <br>
                                                <hr>
                                                <!--                                                phieu giam gia-->
                                                <div class="row">
                                                    <div class="demo-inline-spacing">
                                                        <button type="button" class="btn btn-outline-primary">
                                                            <i class='bx bxs-coupon'></i>
                                                            Sử dụng phiếu giảm giá:
                                                        </button>
                                                        <div class="card shadow-none bg-transparent border border-secondery mb-3">
                                                            <nav class="navbar bg-body-tertiary">
                                                                <div class="container-fluid">
                                                                    <form class="d-flex" role="search">
                                                                        <input class="form-control me-2" type="search"
                                                                               placeholder="Nhập mã phiếu giảm giá"
                                                                               aria-label="Search"
                                                                               style="width: 50%">
                                                                        <button class="btn btn-outline-success"
                                                                                type="submit">
                                                                            Áp Dụng
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </nav>
                                                        </div>
                                                        <br>
                                                    </div>
                                                    <hr>
                                                    <!--                                            tong tien-->
                                                    <div>
                                                        <table class="table table-borderless">
                                                            <tbody>
                                                            <tr>
                                                                <td><h5>Tổng tiền: </h5></td>
                                                                <td></td>
                                                                <td><span>$<span
                                                                        th:text="${cart.amount}"></span> </span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Điểm tích lũy Quà Tặng VIP:</td>
                                                                <td></td>
                                                                <td><span><span
                                                                        th:text="${cart.amount}"></span> Điểm</span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="form-check form-check-inline mt-3">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox1"
                                                                   value="option1">
                                                            <label class="form-check-label" for="inlineCheckbox1">Tôi
                                                                đồng ý
                                                                với
                                                                Chính sách xử lý dữ liệu cá nhân của Điện Máy
                                                                Xanh</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="d-grid gap-2 col-lg-12 mx-auto"
                                                     style="text-align: center">
                                                    <button class="btn btn-primary btn-lg" type="button">Đặt Hàng
                                                    </button>
                                                    <button class="btn btn-outline-secondary btn-lg" type="button">
                                                        Trả
                                                        Góp
                                                    </button>
                                                    <smal>Bạn có thể chọn hình thức thanh toán sau khi đặt hàng
                                                    </smal>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>//<![CDATA[
$('input.input-qty').each(function () {
    var $this = $(this),
        qty = $this.parent().find('.is-form'),
        min = Number($this.attr('min')),
        max = Number($this.attr('max'))
    if (min == 0) {
        var d = 0
    } else d = min
    $(qty).on('click', function () {
        if ($(this).hasClass('minus')) {
            if (d > min) d += -1
        } else if ($(this).hasClass('plus')) {
            var x = Number($this.val()) + 1
            if (x <= max) d += 1
        }
        $this.attr('value', d).val(d)
    })
})

$("#plus").click(function () {
    var quantity = $("#quantity").val()
    var priceExport = $("#price-export").attr("value")
    console.log(priceExport)
    var totalPrice = quantity * priceExport
    console.log(totalPrice)
    $("#total-price").text(totalPrice)


})
//]]></script>